<header id="header">
  <a id="logo" href="./formulario.html">GameMania.Com</a>
<nav id="nav">
  <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
    <span id="hamburger"></span>
  </button>
  <ul id="menu" role="menu">
    <li><a href="./playstation.html">Playstation</a></li>
    <li><a href="./xbox1.html">Xbox</a></li>
    <li><a href="./nintendo.html">Nintendo</a></li>
    <li><a href="./jogos.html">Jogos</a></li>
    <li><a href="./computadores.html">Computadores</a></li>
    
  </ul>
</nav>
</header>